{
    "token": "",
    "clientId": "",
    "guildId": "",
    "staffId": "",
    "captainId": "",
    "hamId": "",
    "orgChannelId": "",
    "picksChannelId": "",
    "staffChannelId": "",
    "statsChannelId": "",
    "aChannelId": "",
    "bChannelId": "",
    "cChannelId": "",
    "dChannelId": ""
}